//- if messages?.errors && messages.errors.length > 0
//-   .alert.alert-danger.fade.show
//-     button.close(type='button', data-dismiss='alert')
//-       i.fa.fa-times-circle
//-     each error in messages.errors
//-       div= error.msg

//- if messages?.info && messages.info.length > 0
//-   .alert.alert-info.fade.show
//-     button.close(type='button', data-dismiss='alert')
//-       i.fa.fa-times-circle
//-     each info in messages?.info
//-       div= info.msg

//- if messages?.success && messages.success.length > 0
//-   .alert.alert-success.fade.show
//-     button.close(type='button', data-dismiss='alert')
//-       i.fa.fa-times-circle
//-     each success in messages?.success
//-       div= success.msg
